/* App.css */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #073b4c;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.birthdayCard {
  position: absolute;
  width: 600px; /* Increased width */
  height: 650px; /* Increased height */
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: transform 1s;
}

.birthdayCard.is-flipped {
  transform: perspective(2500px) rotateY(-180deg);
}

.cardFront,
.cardInside {
  position: absolute;
  background-color: #fff;
  width: 100% ;
  height: 100%;
  backface-visibility: hidden;
}

.cardInside {
  transform: rotateY(180deg);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin: 0;
  padding: 10px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.imageContainer {
  width: 80%;
  max-width: 400px;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
}

.balloons {
  position: absolute;
  top: 260px;
  right: 130px; 
  padding: 5px; /* Adjust spacing between balloons */
  
}

.balloonOne,
.balloonTwo,
.balloonThree,
.balloonFour {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px; /* Adjust spacing between balloons */
  position: relative;
}


.balloonOne {
  background-color: rgba(239, 71, 111, 0.7);
  left: 5px;
  top: -100px;
  margin-bottom: 20px; 
  transform: translateY(-20px);
}

.balloonTwo {
  background-color: rgba(6, 214, 160, 0.7);
  left: 80px;
  top: -80px;
  margin-bottom: 20px; 
  transform: translateY(-20px);
}

.balloonThree {
  background-color: rgba(255, 209, 102, 0.7);
  left: 5px;
  top: 0;
  margin-bottom: 20px; 
  transform: translateY(-20px);
}

.balloonFour {
  background-color: rgba(17, 138, 178, 0.7);
  left: 80px;
  top: 50px;
  margin-bottom: 20px; 
  transform: translateY(-20px);
}

.balloonOne:before,
.balloonTwo:before,
.balloonThree:before,
.balloonFour:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 50px;
  background-color: #ffd166;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.balloonOne:after,
.balloonTwo:after,
.balloonThree:after,
.balloonFour:after {
  content: "";
  position: absolute;
  border-right: 3.5px solid transparent;
  border-left: 3.5px solid transparent;
  top: 100%;
  left: 45%;
}

.balloonOne:after {
  border-bottom: 5px solid #ef476f;
}

.balloonTwo:after {
  border-bottom: 5px solid #06d6a0;
}

.balloonThree:after {
  border-bottom: 5px solid #ffd166;
}

.balloonFour:after {
  border-bottom: 5px solid #118ab2;
}

.birthdayMessage {
  font-size: 20px; /* Adjust the font size as needed */
  line-height: 1.5; /* Optional: Adjust the line height */
}


.imageContainerMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36vh; /* Adjust as needed */
}

.imageContainerMiddle img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensure the image fits within its container */
}


/* Media query for mobile devices */
@media (max-width: 768px) {
  .birthdayCard {
    width: 100%; /* Adjust card width for smaller screens */
    height: auto; /* Let height be flexible */
  }

  .cardFront,
  .cardInside {
    padding: 20px; /* Adjust padding inside card for smaller screens */
    background-color: #ffffffbe;
    height: auto;
    max-width:  90vw; /* Limit card width to fit screen on small devices */
  }

  .imageContainer {
    height: auto; /* Let image container height be flexible */
  }

  .balloons {
    top: 186px; /* Adjust balloon position for smaller screens */
    right: 30px; /* Adjust balloon position for smaller screens */
    padding: 1px; /* Adjust spacing between balloons for smaller screens */
  }

   /* Adjust the size and layout of balloons */
   .balloonOne,
   .balloonTwo,
   .balloonThree,
   .balloonFour {
     width: 40px; /* Decrease balloon width */
     height: 40px; /* Decrease balloon height */
     border-radius: 50%;
     margin-bottom: 10px; /* Adjust spacing between balloons */
     position: relative;
   }
 
   /* Adjust the balloon positions */
   .balloonOne {
     background-color: rgba(239, 71, 111, 0.7);
     left: 5px;
     top: -100px;
     margin-bottom: 20px;
     transform: translateY(-20px);
   }
   
   .balloonTwo {
     background-color: rgba(6, 214, 160, 0.7);
     left: 5px;
     top: -60px;
     margin-bottom: 20px;
     transform: translateY(-20px);
   }
   
   .balloonThree {
     background-color: rgba(255, 209, 102, 0.7);
     left: 5px;
     top: 0;
     margin-bottom: 2px;
     transform: translateY(-20px);
   }
   
   .balloonFour {
     background-color: rgba(17, 138, 178, 0.7);
     left: 5px;
     top: 50px;
     margin-bottom: 20px;
     transform: translateY(-20px);
   }
   
   /* Adjust balloon connector lines */
   .balloonOne:before,
   .balloonTwo:before,
   .balloonThree:before,
   .balloonFour:before {
     content: "";
     position: absolute;
     width: 2px;
     height: 40px; /* Decrease connector line height */
     background-color: #ffd166;
     top: 100%;
     left: 50%;
     transform: translateX(-50%);
   }
   
   /* Adjust balloon triangle markers */
   .balloonOne:after,
   .balloonTwo:after,
   .balloonThree:after,
   .balloonFour:after {
     content: "";
     position: absolute;
     border-right: 3.5px solid transparent;
     border-left: 3.5px solid transparent;
     top: 100%;
     left: 42%;
   }
 
  .birthdayMessage {
    font-size: 16px; /* Adjust font size for birthday message on smaller screens */
  }

  .imageContainerMiddle {
    height: 30vh; /* Adjust image container height for smaller screens */
  }
}